.no-margin-padding {
    padding: 0;
    margin: 0;
}

.body-wrapper {
    background-color: #587aec;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.center-content {
    text-align: center;
}


.table-wrapper {
    display: flex;
    justify-content: center;
    width: 100%; 
    flex-grow: 1; 
    flex-shrink: 1;
}

.form-wrapper {
    padding: 25px;
    border: 20px solid #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    flex-grow: 1; 
    flex-shrink: 1;
}


.footer-wrapper {
    display: flex;
    width: 100%;
    max-width: 200px;
    justify-content: space-around;
    padding: 20px;
    margin-top: auto;
    flex-shrink: 1;  
    flex-grow: 1;
}


.ul-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    flex-grow: 1;  
    flex-shrink: 1;
}

a:hover {
    background-color: #ff0000;
}

a:active {
    background-color: #ffff00;
}

.input-style {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    padding: 10px;
}
